body {
  margin: 0;
  background-image: url(../img/bg-wego.jpg) ;
}
/* top */
header {
  background-color: rgb(220, 237, 195);
  display: flex;
  justify-content: space-between; /* 요소들의 간격을 균일하게 배치 */
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed; /* 메뉴바가 따라다님 */
}
#searchIcon {
  margin-left: 20px;
  width: 40px;
}
#hamburgerMenuIcon {
  margin-right: 20px;
  width: 50px;
  position: relative; /* nav의 기준 */
}
header > img {
  width: 100px;
}
/* menu */
header > nav {
  display: none;
}
header > nav > img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px auto;
}
header > nav > ul {
  list-style: none;
  padding-left: 40%;
}
header > nav > ul > li {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}
a, a:visited {
  color: #000;
  text-decoration: none;
}
#logout {
  margin-top: 80px;
  font-size: 15px;
}
#logout > a {
  color: red;
}
header > a:focus + nav {
  display: block;
  width: 400px;
  height: 800px;
  background-color: rgb(220, 237, 195);
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
header > nav > hr {
  width: 80%;
  border: 0.5px solid rgb(227, 227, 227);
  border-bottom: 0px;
}

/* main */
#container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
/* section */
#content {
  display: inline-block;
  width: 300px;
  margin: 20px;
  border-radius: 20px;
  padding: 20px 20px 40px 20px;
  background-color: rgb(240, 240, 240);
}
#contentTop {
  display: flex;
}
#profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}
#contentTopInfo {
  flex-direction: column;
}
#contentTopInfo p {
  margin: 10px 5px;
  font-size: small;
}
#contentMainPhoto {
  width: 100%;
  margin: auto;
  border-radius: 20px;
}
#favorite, #noFavorite, #comments {
  width: 30px;
  height: 30px;
  margin: 10px 0px;
}
#favorite {
  display: inline;
}
#noFavorite {
  display: none;
}
#btnMore {
  display: block;
  float: right;
  margin-bottom: 10px;
}
#btnHidden {
  display: none;
  float: right;
  margin-bottom: 10px;
}


