/* body */
body {
  margin: 0;
  background-image: url(../img/bg-wego.jpg);
}
/* header */
header {
  background-color: rgb(220, 237, 195);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
}
.notification {
  margin-left: 20px;
  width: 40px;
}
/* top-menu-img */
header > a > img {
  width: 100px;
}
/* hamburger-menu */
.hamburger-icon {
  margin: 20px;
}
.hamburger-icon div {
  width: 50px;
  height: 5px;
  background-color: gray;
  margin: 5px;
  transition: all 0.5s ease;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
#menu {
  display: none;
  width: 400px;
  height: 800px;
  background-color: rgb(220, 237, 195);
  position: absolute;
  top: 100px;
  right: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#menu > img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px auto;
}
#menu > ul {
  list-style: none;
  padding-left: 35%;
}
#menu > ul > li {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}
#menu > hr {
  width: 80%;
  border: 0.5px solid rgb(227, 227, 227);
  border-bottom: 0px;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
#logout {
  margin-top: 80px;
  font-size: 15px;
}
#logout > a {
  color: red;
}
/* Countainer */
#container {
  /* header의 position이 fixed로 
  Content가 말려들어가지 않게 padding-top 최소 100px 필수 */
  width: 100%;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}
/* Search Bar */
#searchBar {
  width: 370px;
  background-color: white;
  padding: 5px;
  border-radius: 35px;
  margin: auto;
}
#searchBar > form {
  display: flex;
  justify-content: center;
  align-items: center;
}
#itemSelect {
  border: 0;
}
#search {
  width: 230px;
  height: 30px;
  padding: 5px 15px;
  border: 0;
}
#btn_search {
  border: 0;
  background-color: #0000;
  cursor: pointer;
}
.search-icon {
  width: 25px;
  height: 25px;
}
/* Content */
@media screen and (max-width: 700px) { /* 모바일 기준 */
  section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
}
@media screen and (min-width: 705px) { /* 데스크탑 기준 */
section {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 350px);
  align-items: center;
  justify-content: center;
}
}
section > div {
  border: 1px solid gray;
  border-radius: 25px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
section > div > a > svg {
  width: 250px;
  height: 200px;
  display: block;
  margin: auto;
  padding: 30px;
}
section > div > a > p {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
