body {
  margin: 0;
}

/* main */
#container {
  width: 80%;
  margin: auto;
  border: 1px solid gray;
}

/* section */
#content {
  width: 300px;
  margin: 20px;
  border-radius: 20px;
  padding: 20px 20px 40px 20px;
  background-color: lightgray;
}

#contentTop {
  display: flex;
}

#profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

#contentTopInfo {
  flex-direction: column;
}

#contentTopInfo p {
  margin: 10px 5px;
  font-size: small;
  /* font size 고민.. */
}

#contentMainPhoto {
  width: 100%;
  margin: auto;
}

#favorite, #noFavorite, #comments {
  width: 30px;
  height: 30px;
  margin: 10px 0px;
}

#favorite {
  display: inline;
}

#noFavorite {
  display: none;
}

#btnMore {
  display: block;
  float: right;
  margin-bottom: 10px;
}

#btnHidden {
  display: none;
  float: right;
  margin-bottom: 10px;
}


