/* common */
body {
  margin: 0px;
  background: url(../img/bg-wego.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}
a:link,
a:visited,
a:active,
a:hover {
  color: #000;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.blind {
  display: none;
}
img {
  -webkit-user-drag: none;
}
/* header */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e7e7e7;
  position: relative;
  background-color: rgb(220, 237, 195);
}
.logo {
  width: 50px;
  height: 50px;
  background: url(../svg/main-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navbar li {
  display: inline-block;
  padding: 0 30px;
  font-weight: bold;
  font-size: 16px;
}
.navbar li:hover {
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #fff;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.notice {
  width: 35px;
  height: 35px;
  display: inline-block;
  background: url(../svg/bell-off.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.notice:hover {
  width: 35px;
  height: 35px;
  display: inline-block;
  background: url(../svg/bell-on.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.logout {
  width: 80px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 4px 5px 1px #c8c8c8;
  color: #fff;
  font-weight: bold;
  background-color: #4dc53d8d;
  cursor: pointer;
}
.logout:hover {
  width: 80px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  box-shadow: 3px 5px 5px 2px #b4b4b4;
  color: #fff;
  background-color: #5ce74a;
}
.search-bar {
  border-radius: 30px;
  padding: 12px 20px;
  background-color: #e7e7e7;
  position: absolute;
  top: 120px;
}
.search-bar > form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#search {
  width: 200px;
  border: 0;
  padding: 5px;
  font-size: 16px;
  outline: none;
  background: none;
}
#search + button {
  width: 20px;
  height: 20px;
  border: 0;
  color: gray;
  display: inline-block;
  background: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* container */
.container {
  width: 70%;
  margin: 100px auto auto;
}
/* container child - common */
.mountain-info,
.recruit,
.review {
  width: 100%;
  margin: 30px 0;
}
.wrap {
  overflow: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  user-select: none;
  scroll-behavior:smooth;
}
.wrap::-webkit-scrollbar {
  display: none;
}
.item {
  display: inline-block;
  width: 200px;
  /* border: 1px solid black; */
  border-radius: 15px;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  background-color: #fff;
}
.item > img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.item > form {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0 0;
}
#title {
  margin: 10px auto;
}
.favorite {
  width: 30px;
  height: 30px;
  border: 0;
  background: url(../svg/favorite.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
/* rank */
.rank {
  width: 100%;
  /* height: 500px; */
  border-radius: 15px;
  background-color: lightgray;
  text-align: center;
}
/* mountain-info - 개별 스타일 X */
/* recruit */
.user-info {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
.user-info > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.item > hr {
  border-top: 1px solid lightgray;
  border-bottom: 0;
  border-radius: 35px;
  margin-bottom: 10px;
}
.recruit #title + img {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.recruit-data {
  text-align: left;
}
.recruit-data > p {
  margin: 0;
}
.recruit-data > #mountain-name {
  text-align: center;
}
/* review */
.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-info ~ img {
  width: 100%;
  border-radius: 15px;
}
.bottom-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-info > form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}