/* container */
.container {
  width: 70%;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: 100px auto 100px;
  padding: 50px;
  background-color: #fff;
}
.out-line {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 30px;
}
.container > hr {
  border-top: 1px solid lightgray;
  border-bottom: 0;
  border-radius: 35px;
  margin-bottom: 10px;
}
/* container child - common */
.mountain-info,
.recruit,
.review {
  width: 100%;
  margin: 30px 0;
}
.info-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-info {
  width: 100%;
  text-align: left;
}
#itemContent {
  display: inline-block;
  overflow-y: hidden;
}
.itemDetail {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#itemImg {
  display: inline-block;
  height: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .container {
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 100px auto 100px;
    padding: 0 20px;
    background-color: #fff;
  }
  .out-line {
    border: 0;
    padding: 0;
  }
  .info-title > h2 {
    font-size: 16px;
  }
  .itemDetail {
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #itemImg {
    display: inline-block;
    width: 300px;
    height: 250px;
    border-radius: 10px;
  }
  #itemContent {
    height: 120px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
@media screen and (min-width: 481px) {
  .container {
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 100px auto 100px;
    padding: 0 20px;
    background-color: #fff;
  }
  .out-line {
    border: 0;
    padding: 0;
  }
  .itemDetail {
    height: 150px;
  }
  #itemImg {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  #itemContent {
    height: 150px;
    margin: 0 20px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
}