@charset "UTF-8";

body{
    width: 100vw;
    position: relative;
    background: #FFFFFF;
    align-items: center;
    margin: 0 auto;
}
#page-wrapper {
    position: relative;
    flex: auto;
    flex-wrap: wrap;
    width: 1024px;
    margin: 0 auto;
    height: 1600px;
    align-items: center;
    background: #FFFFFF;
}
#main-header {
    position: relative;
    width: 1024px;
    height: 94px;
    flex: auto;
    flex-wrap: wrap;
    left: 0px;
    top: 0px;
    background: rgba(231, 231, 231, 0.5);
}
.left-header{
    position: absolute;
    flex: auto;
    flex-wrap: wrap;
    left: 4.39%;
    right: 87.79%;
    top: 10%;
    bottom: 93.63%;
}
.center-header{
    position: absolute;
    flex: auto;
    flex-wrap: wrap;
    left: 45.9%;
    right: 45.8%;
    top: 5%;
    bottom: 93.63%;
}
.right-header{
    position: absolute;
    flex: auto;
    flex-wrap: wrap;
    left: 87.89%;
    right: 4.79%;
    top: 22%;
    bottom: 95.02%;
}
#main-section{
    position: relative;
    width: 1024px;
    height: 450px;
    flex: auto;
    flex-wrap: wrap;
    left: 0px;
    top: 30px;
}
.profile{
    position: relative;
    width: 310px;
    height: 300px;
    left: 0px;
    top: 0px;
}
.profile-image{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 26px;
    top: 100px;
    border-radius:150px;
    background: #D9D9D9;
}
.profile-image-button{
    position: absolute;
    left: 95%;
    top: 30%;
    bottom: 80%;
}
.div-name-setting{
    position: relative;
    width: 130px;
    height: 30px;
}
.div-name-setting>span{
    position: absolute;
    width: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}
.name-setting img{
    position: absolute;
    left: 75%;
    
}
.name-badge-setting{
    position: absolute;
    width: 600px;
    height: 310px;
    right: 20px;
    top: 100px;
    border-radius: 10px;
}
.badge-collection{
    position: absolute;
    box-sizing: border-box;
    width: 600px;
    height: 270px;
    margin-top: 10px;
    top: 30px;
    padding: 20px;
    background: rgba(231, 231, 231, 0.5);
    border-radius: 10px;
}
.badge-header{
    font-size: large;

}
.badge-header img{
    position: absolute;
    top: 20px;
    margin-left: 10px;
}
.badge-medal{
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.badge-medal img{
    display: inline-block;
    margin: 10px;
}
.content-header-menu>a{
    text-decoration: none;
}
#content-section{
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 50px;
}
/* #content-header{
    display: inline-block;
    width: 950px;
    height: 54px;
    line-height: 54px;
    left: 220px;
    top: 577px;
    background: rgba(231, 231, 231, 0.21);
    border-radius: 15px;
} */
.content-header-menu{
    display: inline-block;
    width: 950px;
    height: 54px;
    line-height: 54px;
    left: 220px;
    top: 577px;
    background: rgba(231, 231, 231, 0.21);
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

.content-header-menu-item{
        display: inline-block;
        color: rgb(86, 86, 86);
        width: 215px;
        height: 35px;
        margin: 0px 15px;
        line-height: 30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        align-items: center;
        text-align: center;
}
/* .content-header-menu-item:hover{
    background: rgba(169, 255, 101, 0.63);
    border-radius: 13px;
} */
.content-header-menu :first-child {
    margin: 0px 13px 0px -35px;
}
.content-header-menu :last-child {
    margin: 0px 13px 0px 13px;
}
.content-header-menu-item a{
    text-decoration: none;
    color: black;
}
.content-header-menu-item.active{
    background: rgba(169, 255, 101, 0.63);
    border-radius: 15px;
}
#content-article{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.content-article1{
    display: inline-block;
    position: relative;
    width: 944px;
    margin-top: 100px;
    top: -50px;
}
.content-article2{
    display: inline-block;
    width: 944px;
    margin-top: 30px;
}

.content-header{
    text-align: left;
    width: 250px;
    height: 40px;
    margin-bottom: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    align-items: center;
}
.content-body{
    display: inline-block;
    width: 950px;
    height: 54px;
    line-height: 54px;
    left: 220px;
    top: 577px;
    background: rgba(231, 231, 231, 0.21);
    border-radius: 15px;
    align-items: center;
    text-align: center;
}
.content-top{
    display: block;
}
.content-top span{
        display: inline-block;
        color: rgb(86, 86, 86);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        align-items: center;
        text-align: center;
}
.tg{
    border-collapse:collapse;
    border-spacing:0;
    width: 944px;
    margin-left: auto;
    margin-right: auto;
}
/* .tg tr{
    position: relative;
    align-items: center;
    text-align: center;
    background-color: cadetblue;
} */
.tg td{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    overflow:hidden;
    padding:15px 5px;
    border-top: 2px solid rgb(0, 0, 0, 0.2);
    border-bottom: 2px solid rgb(0, 0, 0, 0.2);
    word-break:normal;
    text-align: center;
}
.tg th{
    border-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    border-top: 2px solid rgb(0, 0, 0, 0.5);
    overflow:hidden;
    padding:17px 5px;
    word-break:normal;
}
.tg .tg-0pky{
    text-align:left;
    padding-left: 40px;
    vertical-align:top
}
.tg .tg-0lax{
    /* text-align:left; */
    vertical-align:top
}
.tg-0laa span{
    display: inline-block;
    width: 89px;
    height: 40px;
    line-height: 40px;
    color: white;
    background: #4EC53D;
    border-radius: 5px;
}
#top-button{
    position: fixed;
    bottom: 5%;
    right: 10%;
}
.chat.close{
    background-color: #999999;
}
.chat a{
    text-decoration: none;
    color: white;
}
.file-upload{
    position: fixed;
    width: 537px;
    height: 300px;
    left: 50%;
    top: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
}
.file-upload .header{
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.file-upload .header img{
    display: block;
    position: absolute;
    left: 10px;
    top: 20px;
}

.file-upload .header span{
    position: absolute;
    display: inline-block;
    font-size: 1.5em;
    height: 70px;
    line-height: 70px;
    left: 70px;
    vertical-align: middle;
}
.file{
    position: absolute;
    width: 420px;
    height: 150px;
    line-height: 150px;
    vertical-align: middle;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px dotted rgb(0, 0, 0, 0.7);
}
.file h3
{
    position: relative;
    display: inline-block;
    top: -20px;
    font-size: 1.5em;
    font-weight: 400;
}
.filesend
{
    display: flex;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
}
.filesend span {
    display: inline-block;
    width: 170px;
    height: 50px;
    font-size: 1.5em;
    background-color: #4EC53D;
    border-radius: 10px;
}
.filesend span a{
    text-decoration: none;
    color: #000000;
    font-weight: 530;
}
.toggle
{
    position: relative;
    right: 10px;
    top: 10px;
    font-size: 2em;
}


